<div class="row">
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #1</h3>
      <h4>Location: Address here</h4>
      <h4>Compatible Products</h4>
      <ol>
        <!-- Match #1 -->
        <li>Their Product #1 + My Product #3</li>

        <!-- Match #2 -->
        <li>Their Product #2 + My Product #1</li>
      </ol>
      <a class="btn btn-primary" href="/match_detail?name=Olive's%20Oils">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #2</h3>
      <h4>Location: Address here</h4>
      <h4>Compatible Products</h4>
      <ol>
        <!-- Match #1 -->
        <li>Their Product #1 + My Product #3</li>

        <!-- Match #2 -->
        <li>Their Product #2 + My Product #1</li>
      </ol>
      <a class="btn btn-primary" href="/match_detail?name=Ice%20To%20Meet%20You">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #3</h3>
      <h4>Location: Address here</h4>
      <h4>Compatible Products</h4>
      <ol>
        <!-- Match #1 -->
        <li>Their Product #1 + My Product #3</li>

        <!-- Match #2 -->
        <li>Their Product #2 + My Product #1</li>
      </ol>
      <a class="btn btn-primary" href="/match_detail?name=Icing%20Distribution">Learn More</a>
    </div>
  </div>
</div>
