<div class="row">
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #1</h3>
      <p></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #2</h3>
      <p></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #3</h3>
      <p></p>
    </div>
  </div>
</div>
