<div class="navbar">
  <div class="logo_container">
    <a class="serif_header_text logo_image" href="/"></a>
  </div>
  <div class="navbar_links">
    <a href="/quiz1_business_name">Quiz</a>
    <a href="/matches">Matches</a>
  </div>
</div>
