<div class="navbar">
  <div class="logo_container">
    <span class="serif_header_text">Logo</span>
  </div>
  <div class="navbar_links">
    <span>Button 1</span>
    <span>Button 2</span>
    <span>Button 3</span>
  </div>
</div>
