<div class="row">
  <!-- First Match -->
  <div class="col-md-4">
    <div class="match_card">
      <div class="match_card_img_container">
        <%= image_tag "market_background.jpg", class: "img-responsive" %>
        <div class="match_score">99%</div>

        <%= render partial: "static/hover" %>
      </div>
      <h2>Match #1</h2>

      <blockquote>
        <p>My business philosophy is very similar to...</p>
        <footer>Founder, <cite title="Source Title">Businessman #1</cite></footer>
      </blockquote>

      <a class="block_element button" href="/match_detail?name=Marcelo's%20Pizza">Learn More</a>
    </div>
  </div>

  <!-- Second Match -->
  <div class="col-md-4">
    <div class="match_card">
      <div class="match_card_img_container">
        <%= image_tag "market_background.jpg", class: "img-responsive" %>
        <div class="match_score">62%</div>

        <%= render partial: "static/hover" %>
      </div>
      <h2>Match #2</h2>

      <blockquote>
        <p>We value love, respect, but above all else...</p>
        <footer>Founder, <cite title="Source Title">Businessman #3</cite></footer>
      </blockquote>

      <a class="block_element button" href="/match_detail?name=The%20Castro%20Theater">Learn More</a>
    </div>
  </div>
</div>
