<div class="row">
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #1</h3>
      <blockquote>
        <p>My business philosophy is very similar to...</p>
        <footer>Founder, <cite title="Source Title">Pat Briggs</cite></footer>
      </blockquote>
      <h4>Location: Address here</h4>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #2</h3>
      <blockquote>
        <p>My business philosophy is very similar to...</p>
        <footer>Founder, <cite title="Source Title">Pat Briggs</cite></footer>
      </blockquote>
      <h4>Location: Address here</h4>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #3</h3>
      <blockquote>
        <p>My business philosophy is very similar to...</p>
        <footer>Founder, <cite title="Source Title">Pat Briggs</cite></footer>
      </blockquote>
      <h4>Location: Address here</h4>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
  </div>
</div>
