<div class="row">
  <div class="col-md-3">
    <div class="campaign_card">
      <h3 class="serif_text top_header">Campaign #1</h3>
      <%= image_tag "thanksgiving.jpg", class: "img-responsive" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="campaign_card">
      <h3 class="serif_text top_header">Campaign #2</h3>
      <%= image_tag "thanksgiving.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>
