<div class="row">
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #1</h3>
      <h4>Location: Address here</h4>
      <h4>Products Sold</h4>
      <ul>
        <li>Product #1</li>
        <li>Product #2</li>
      </ul>
      <a class="btn btn-primary" href="/match_detail?name=Bob's%20Bakery">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #2</h3>
      <h4>Location: Address here</h4>
      <h4>Products Sold</h4>
      <ul>
        <li>Product #1</li>
        <li>Product #2</li>
      </ul>
      <a class="btn btn-primary" href="/match_detail?name=The%20Flower%20Guy">Learn More</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="match_card">
      <h3>Match #3</h3>
      <h4>Location: Address here</h4>
      <h4>Products Sold</h4>
      <ul>
        <li>Product #1</li>
        <li>Product #2</li>
      </ul>
      <a class="btn btn-primary" href="/match_detail?name=Mass%20Distribution">Learn More</a>
    </div>
  </div>
</div>
