<span class="index_status" data-showalert="<%= flash[:seed_data_notice] %>" />
<br/><br/><br/>
I am the index. Knight to E5.

<div>
  <a href="/quiz1_business_name">Take quiz</a>
</div>

<div>
  <a href="/matches">View matches</a>
</div>

<div>
  <a href="/seed_data">Set seed data</a>
</div>
