<span class="index_status" data-showalert="<%= flash[:seed_data_notice] %>" />

<div class="backdrop homepage_backdrop">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 homepage_promo_container">
      <div class="headline serif_text">helping you connect to other local businesses</div>
      <a class="button white_button" href="/quiz1_business_name">start connecting</a>
    </div>
  </div>

  <a class="homepage_set_seed_data" href="/seed_data">set seed data</a>
</div>
