<span class="index_status" data-showalert="<%= flash[:seed_data_notice] %>" />
<!-- <br/><br/><br/>
I am the index. Knight to E5.

<div>
  <a href="/quiz1_business_name">Take quiz</a>
</div>

<div>
  <a href="/matches">View matches</a>
</div>

<div>
  <a >Set seed data</a>
</div> -->

<div class="backdrop homepage_backdrop">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 homepage_promo_container">
      <div class="headline serif_text">helping you connect to other local businesses</div>
      <a class="button white_button" href="/quiz1_business_name">start connecting</a>
    </div>
  </div>

  <a class="homepage_set_seed_data" href="/seed_data">set seed data</a>
</div>
