<span class="index_status" data-showalert="<%= flash[:seed_data_notice] %>" />

<div class="backdrop homepage_backdrop">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 homepage_promo_container">
      <div class="headline serif_header_text">helping you connect to other local businesses</div>
      <a class="button white_button" href="/quiz1_business_name">start connecting</a>
    </div>
  </div>

  <a class="homepage_set_seed_data" href="/seed_data">set seed data</a>
</div>


<!-- Problem/solution overview -->
<div id="features" class="features locallink_intro">

  <!-- First feature block -->
  <div class="features_container fc3">
    <div class="features_text">
      <div class="main_feature serif_text">
        Running a small business is hard.
      </div>
      <span class="light">
        It’s hard for many local businesses to expand their product lines, find good help, and advertise to improve their business's visibility. But it doesn't have to be that way.
      </span><br/><br/>
      <span class="light">
        LocalLink is a website dedicated to matching small businesses that have compatible products or services with one another to help your local community thrive. We want to bring the resources of a large company to your local business and your community.
      </span><br/><br/>
      <!-- <span class="light"> -->
        <!-- In big urban communities, finding and partnering is businesses is a difficult and time-consuming process.  -->
      <!-- </span><br/><br/> -->
      <span>
        With LocalLink, you can tell us about your business, find compatible local matches tailored to your business' needs, and create mutually beneficial partnerships with those matches.
      </span>
    </div>

  </div>
</div>


<!-- Features -->
<div id="features" class="features">
  <div class="feature_header serif_header_text"> Features </div>

  <!-- First feature block -->
  <div class="features_container">
    <div class="features_text">
      <div class="main_feature serif_text">
        Tell us about your business.
      </div>
      <span class="light">
        Our process starts with a shorts quiz about various facets of your business - from your top products or services to your philosophy about business.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        It's all about your business
      </span><br/>
      <span class="light">
        Our questions try to get at as many different aspects of your business as possible. We think this helps us learn more about you so that we can suggest better matches to you. But don't worry, any information you give us is completely confidential.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Short and sweet
      </span><br/>
      <span class="light">
        We try to ask only the most important questions, so you can get back to running your business as quickly as possible.
      </span>
    </div>
    <div class="features_img_container">
      <div class="features_img"></div>
    </div>
  </div>

  <!-- Second feature block -->
  <div class="features_container">
    <div class="features_img_container">
      <div class="linking_img"></div>
    </div>
    <div class="features_text">
      <div class="main_feature serif_text">
        View local matches.
      </div>
      <!-- <span class="light">
        We understand that your notes and code go hand-in-hand.
      </span><br/><br/> -->
      <span class="homepage_subheader serif_text">
        Emphasis on your community
      </span><br/>
      <span class="light">
        We add special ribbons to matches we think are especially good for your business. We select these busineses for you because they are either an active local member or they are specifically looking for a product or service you provide.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Our match formula
      </span><br/>
      <span class="light">
        Our formula consists of a variety of different factors - from location and distance to products that we know go well together, all to bring you the best matches.
      </span>
    </div>
  </div>

  <!-- Third feature block -->
  <div class="features_container">
    <div class="features_text">
      <div class="main_feature serif_text">
        Partner and grow.
      </div>
      <span class="homepage_subheader serif_text">
        Suggested campaigns
      </span><br/>
      <span class="light">
        If you need any ideas for how to get started, we suggest a few possible campaigns that we think would work well. We choose these campaigns based on past matches that have worked well.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Contact at your leisure
      </span><br/>
      <span class="light">
        We don't try to pretend that we know is best for you business - we leave the communication and decisions up to you, so you can do what you know best.
      </span>


    </div>
    <div class="features_img_container">
      <div class="notebook_img"></div>
    </div>
  </div>
</div>

