<span class="index_status" data-showalert="<%= flash[:seed_data_notice] %>" />

<div class="backdrop homepage_backdrop">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 homepage_promo_container">
      <div class="headline serif_header_text">helping you connect to other local businesses</div>
      <a class="button white_button" href="/quiz1_business_name">start connecting</a>
    </div>
  </div>

  <a class="homepage_set_seed_data" href="/seed_data">set seed data</a>
</div>


<!-- Problem/solution overview -->
<div id="features" class="features locallink_intro">

  <!-- First feature block -->
  <div class="features_container fc3">
    <div class="features_text">
      <div class="main_feature serif_text">
        Running a small business is hard.
      </div>
      <span class="light">
        It’s hard for many local businesses to expand their product lines, find good help, and advertise to improve their business's visibility. But it doesn't have to be that way.
      </span><br/><br/>
      <span class="light">
        LocalLink is a website dedicated to matching small businesses that have compatible products or services with one another to help your local community thrive. We want to bring the resources of a large company to your local business and your community.
      </span><br/><br/>
      <!-- <span class="light"> -->
        <!-- In big urban communities, finding and partnering is businesses is a difficult and time-consuming process.  -->
      <!-- </span><br/><br/> -->
      <span>
        With LocalLink, you can tell us about your business, find compatible local matches tailored to your business' needs, and create mutually beneficial partnerships with those matches.
      </span>
    </div>

  </div>
</div>


<!-- Features -->
<div id="features" class="features">
  <div class="feature_header serif_header_text"> Features </div>

  <!-- First feature block -->
  <div class="features_container">
    <div class="features_text">
      <div class="main_feature serif_text">
        Start with your business.
      </div>
      <span class="light">
        Sign up for LocalLink and immediately see the benefits of taking notes in a specially crafted environment, just for you.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Try our unique dual interface
      </span><br/>
      <span class="light">
        Text editors weren't made for code. Code editors weren't made for text. Until now, you've had to choose which one you prefer for taking notes, but our dual interface features both a text editor and code editor so you can have the best of both worlds.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Everything you'd ever need
      </span><br/>
      <span class="light">
        Our code editors support syntax highlighting for over 100 languages and lots of your favorite features such as bracket completion and auto-indentation. Our text editors include formatting options such as bullets and numbering.
      </span>
    </div>
    <div class="features_img_container">
      <div class="features_img"></div>
    </div>
  </div>

  <!-- Second feature block -->
  <div class="features_container">
    <div class="features_img_container">
      <div class="linking_img"></div>
    </div>
    <div class="features_text">
      <div class="main_feature serif_text">
        View local matches.
      </div>
      <span class="light">
        We understand that your notes and code go hand-in-hand.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        What does that line do again?
      </span><br/>
      <span class="light">
        Dealing with a tricky line of code? Write about it in the text editor and link it up. You can view your links whenever you'd like to remember what that line of code does.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Visible, physical connections
      </span><br/>
      <span class="light">
        Links are represented with highlights. Whenever you want to remember what a piece of highlighted text or code does, hover over it to see its linked information.
      </span>
    </div>
  </div>

  <!-- Third feature block -->
  <div class="features_container">
    <div class="features_text">
      <div class="main_feature serif_text">
        Partner and grow.
      </div>
      <span class="light">
        Keep your notes for various courses or projects all stored in one organized, searchable place.
      </span><br/><br/>
      <span class="homepage_subheader serif_text">
        Bringing notebooks to the next level
      </span><br/>
      <span class="light">
        Store your notes into organized notebooks. You can have as many notebooks as you'd like, and when it's time to review your notes or code, easily search to find what you're looking for.
      </span>
    </div>
    <div class="features_img_container">
      <div class="notebook_img"></div>
    </div>
  </div>
</div>


<!-- For students, professors, professionals -->
<div id="use-cases">
  <div class="use_case_container">
    <!-- Student -->
    <div class="use_case share uc1">
      <div class="student"></div>
      <div class="item_text">
        <span class="case_header bold serif_text">Erin Singer</span><br/>
        <!-- <span class="light">
          No more having to struggle with text editors that
          don't understand your code or code editors that don't
          understand your notes. Take the best notes and ace those exams.
        </span> -->
      </div>
    </div>

    <!-- Professors -->
    <div class="use_case share uc2">
      <div class="teacher"></div>
      <div class="item_text it2">
        <span class="case_header bold serif_text">John Newcomb</span><br/>
        <!-- <span class="light">
          Tired of trying to explain today's lecture content through
          inline comments? Or tired of repeatedly explaining to students what a line of code does? Be everyone's favorite professor.
        </span> -->
      </div>
    </div>

    <!-- Professionals -->
    <div class="use_case uc3">
      <div class="professional"></div>
      <div class="item_text">
        <span class="case_header bold serif_text">Pat Briggs</span><br/>
         <!-- <span class="light">
          Ever used an API or code snippet at work or on your own projects and wanted to annotate how it worked or what you used it for? Keep your resources organized with Notemap.
        </span> -->
      </div>
    </div>
  </div>
</div>
