<div class="container">
  <section class="top-matches-section">
    <h1>Top Matches</h1>
    <%= render partial: "static/top_matches" %>
  <section>

  <section class="top-location-section">
    <h1>Nearest Matches by Location</h1>
    <%= render partial: "static/location_matches" %>
  <section>

  <section class="prod-compatability-section">
    <h1>Matches by Product Compatability</h1>
    <%= render partial: "static/compatability_matches" %>
  <section>

  <section class="top-location-section">
    <h1>Matches by Business Philosophy</h1>
    <%= render partial: "static/philosophy_matches" %>
  <section>
</div>
