<p>Great! We've found these matches for <%= @business_name %>. Is any one of these you?</p>

<%= link_to "/quiz1_name_matches", method: :post, class: "possible_name_match" do %>
<!-- <div class="possible_name_match"> -->
  <h2>Sweet Inspiration</h2>
  <p>555 Main Street, San Francisco, CA, 92301</p>
<!-- </div> -->
<% end %>

<!-- <div class="possible_name_match"> -->
<%= link_to "/quiz1_name_matches", method: :post, class: "possible_name_match" do %>
  <h2>Pitts Orthodontics</h2>
  <p>123 Jones Street, San Mateo, CA, 92301</p>
<% end %>
<!-- </div> -->

<%= link_to "/quiz1_name_matches", method: :post, class: "possible_name_match" do %>
<!-- <div class="possible_name_match"> -->
  <h2>Sweet Surprises</h2>
  <p>163 16th Street, San Francisco, CA, 23123</p>
<% end %>
<!-- </div> -->
