@import "reset"; // CSS reset to ensure consistent styles across browsers

@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "font-awesome";
@import "static";
@import "match";
@import "match_reason_hover";
@import "quiz";
@import "homepage";

// styles

html, body {
  height: 100%;
}

h2 {
  font-size: 1.4em;
}

html, body, div, span, p {
  font-family: "Source Sans Pro", sans-serif;
  color: #4E5848;
  font-size: 16px;
  line-height: 1.2em;
  // line-height: 25px;
}

a:focus {
  outline: none;
}

.serif_text {
  font-family: 'Alegreya', serif;
}

.serif_header_text {
  font-family: 'Yeseva One', cursive;
}

.cursive_text {
  font-family: 'Dancing Script', cursive;
}

.no_margin_top {
  margin-top: 0;
}

.normal_font_size {
  font-size: 1.0em;
}

.bigger_font_size {
  font-size: 1.2em;
}

.smaller_font_size {
  font-size: 0.9em;
}

.small_margin_bottom {
  margin-bottom: 20px;
}

.smaller_margin_bottom {
  margin-bottom: 10px;
}

.full_width {
  width: 100%;
}

.content_container {
  overflow-x: hidden;
  height: 100%;
  // padding-top: $navbar_height; // height of the navbar
}

.navbar {
  z-index: 10;
  position: absolute;
  top: 0px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: $navbar_height;
  background-color: rgba(150, 180, 129, 0.83);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.22);
  border-radius: 0px;

  .logo_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo_image {
      background-image: image-url("locallink_logo.png");
      background-size: cover;
      height: 40px;
      width: 92px;
    }

    span {
      font-size: 1.4em;
      color: white;
    }
  }

  .navbar_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;

    a {
      padding: 5px 20px;
      color: #FFF;
      border: 2px solid #FFF;
      border-radius: 25px;
      margin: 0px 20px;
      cursor: pointer;
      width: 100px;
      text-align: center;
      transition: all 0.2s ease-in;

      &:hover {
        text-decoration: none;
        border-color: $button_hover_color;
        color: $button_hover_color;
      }
    }
  }
}

.backdrop_header_text {
  padding-top: $navbar_height; // to account for navbar
}

.smaller_backdrop {
  height: 250px;
}

.even_smaller_backdrop {
  height: 200px;
}

.vertical_center_container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
