/* Styling for match cards*/
.match_card {
  margin: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  background: #fefefe;

  .button {
    text-align: center;
    max-width: 160px;
    margin: 5px 0px;
  }

  h2 {
    font-size: 1.7em;
  }

  p {
    opacity: 0.7;
  }

  .match_card_content {
    padding: 10px 30px;
  }

  .match_card_bottom {
    background: #fbfbfb;
    border-top: 1px solid #e4e4e4;
    padding: 5px 30px;
  }
}

.match_card_content_detail {
  position: relative;

  .match_reasoning_container {
    position: absolute;
    top: -75px;
    right: -150px;
    z-index: 20;
    background: #fbfbfb;
    border: 1px solid #ececec;
    border-radius: 2px;
    padding: 10px;
    padding-top: 0px;
    transition: all 1s ease;
    display: none;

    i {
      position: absolute;
      position: absolute;
      top: 20px;
      left: -12px;
      color: #fbfbfb;
    }
  }
}

.match_card_content_detail:hover .match_reasoning_container {
  display: inherit;
}

.match_score {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fefefe;
  opacity: .95;
  padding: 35px 15px;
  color: white;
  font-size: 3em;
}

.list-inline {
  margin-bottom: 15px;
  padding-left: 5px;

  li {
    border: 1px solid #758d9b;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .reason, .plus, .phone, .email, .address, .match_percent {
    border: none;
  }

  .number {
    padding: 3px 10px;
    border-radius: 15px;
  }
}

.reason_line {
  margin-bottom: 5px;
}

.match_card_content_detail {
  margin-bottom: 0px;
}

.yelp_review_container i {
  color: #d49b56;
}

/* Styling for match detail page */

.circle {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  margin-top: 20px;
}

.match_detail {
  margin-bottom: 0px;
}

.separator {
  background-color: #e7e7e7;
  height: 2px;
  width: 100%;
  margin: 15px auto;
  display: block;
}

/* Styling for campaign cards */
.campaign_card {
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  background: #f7f7f7;

  .top_header {
    margin-top: 5px;
  }
}

/* General styling */
section {
  margin-bottom: 20px;
}

.top_header {
  margin-top: 10px;
}

.spacer {
  margin-top: 40px;
}

.spacer_large {
  margin-top: 70px;
}

.text_centered {
  text-align: center;
}

.white_text {
  color: white;
}

.olive_text {
  color: #9db082;
}

.no_padding_right {
  padding-right: 0px !important;
}

.no_padding_left {
  padding-left: 0px !important;
}

.no_margin_bottom {
  margin-bottom: 0px;
}

.min_padding_left {
  padding-left: 8px;
}
