// @import "font-awesome-sprockets";
@import "font-awesome";

// Generic styles
.input_field {
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.47);
  font-size: 1.0rem;
}

.tall_input_field {
  height: 3.4em;
}

.medium_tall_input_field {
  height: 3.0em;
}

.form_label {
  font-size: 1.2em;
  padding-bottom: 7px;
}

.quiz_input_field {
  background-color: #F6F6F6;
  border: 1px solid #E6E6E6;
  margin-bottom: 15px;
  padding: 8px 10px;
  width: 40%;
  min-width: 200px;
}

.tagit {
  min-height: 180px;
  border-radius: 8px !important;
  border: 1px solid rgba(151, 151, 151, 0.47) !important;
  font-size: 1.0rem !important;

  background: #F6F6F6 !important;
  border: 1px solid #E6E6E6 !important;
  margin-bottom: 15px !important;
  padding: 8px 10px !important;
  width: 50% !important;
  min-width: 200px !important;

  li {
    margin-right: 10px !important;
    margin-bottom: 5px !important;
  }
}

.tagit-choice {
  display: flex;
  align-items: center;
  border: 2px solid #6C8D9B;
  border-radius: 6px;
}

.tagit-choice-editable {
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
  padding-left: 1.1em !important;
  padding-right: 0.8em !important;
}

.tagit-label {
  color: #6C8D9B;
  padding-right: 10px;
}

.tagit-close {
  position: relative !important;
  text-decoration: none;

  right: inherit !important;
  top: inherit !important;
  margin-top: inherit !important;
  line-height: inherit !important;

  &:hover {
    text-decoration: none;
  }
}

.tagit-close .text-icon {
  position: relative;
  color: #6C8D9B;
  display: inherit !important;
  font-weight: 700;
  transition: color 0.2s ease-in;

  &:hover {
    color: #58737E;
  }
}

.big_field {
  width: 60%;
  min-height: 120px;
}

.button {
  border: 2px solid #6C8D9B;
  border-radius: 67px;
  color: #6C8D9B;
  padding: 5px 40px;
  background-color: transparent;
  transition: all 0.5s ease;

  &:hover {
    text-decoration: none;
    color: rgba(150, 180, 129, 1);
    border: 2px solid rgba(150, 180, 129, 1);
  }
}

.button.big {
  padding: 8px 45px;
  font-size: 1.2em;
}

.main_content_container {
  // margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

label {
  font-weight: inherit;
}


// Name entry page
.backdrop {
  background-image: image-url("newbg.jpg");
  background-size: cover;

  overflow: hidden; // prevent bootstrap row from going off of page
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full_page_backdrop {
  height: 100%;
}

.business_name_entry_overlay_container {
  padding: 30px 50px !important;
}

.overlay_container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);

  .next_button {
    margin-left: auto;
    margin-top: 20px;
    padding: 9px 40px;
    font-size: 1.2em;
  }
}


// Name match page
.possible_name_match {
  display: flex;
  background-image: image-url("sweet_inspiration.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(40, 40, 40, 0.5);

  .possible_name_match_detail_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .possible_name_match_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
    padding-top: 10px;
    background-color: rgba(108, 141, 155, 0.58);
    text-shadow: 0px 1px 1px rgba(93, 117, 127, 0.7);
    width: 100%;
  }

  .possible_name_match_name {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 6px;
    margin-top: 0px;
  }

  .possible_name_match_address {
    color: white;
    font-size: 0.6rem;
    margin-bottom: 0px;
  }
}

.yes_no_buttons {
  display: flex;
  justify-content: center;

  .yes_no_button {
    font-size: 1.3em;
    padding: 10px 55px;

    &:first-of-type {
      margin-right: 8px;
    }

    &:last-of-type {
      margin-left: 8px;
    }
  }
}


// Detail verification page

.progress_bar {
  display: flex;
  align-items: center;
  padding-top: 80px; // to account for navbar + some extra

  .progress_bar_step {
    font-size: 1.5em;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 3px solid white;
    border-radius: 60px;
    box-shadow: 0px 2px 2px rgba(30, 30, 30, 0.4);
    text-shadow: 0px 2px 2px rgba(30, 30, 30, 0.4);
  }

  .progress_bar_step.active {
    background-color: rgba(108, 141, 155, 0.65);
    text-shadow: 0px 2px 2px #586D76;
  }

  .progress_bar_spacer {
    // border-bottom: 3px solid white;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    // height: 1.5em;
    border-width: 3px;
    border-color: white;
    box-shadow: 0px 2px 2px rgba(30, 30, 30, 0.4);
  }
}

.progress_bar_step_name {
  display: flex;
  justify-content: center;
  font-size: 2.0em;
  color: white;
  text-shadow: 0px 2px 2px rgba(30, 30, 30, 0.4);
  margin-top: 8px;
}

.radio_button_label {
  padding-left: 6px;
}


.block_element {
  display: block;
}

.first_form_input_spacing {
  margin-top: 32px;
}

.form_input_spacing {
  margin-top: 6px;
}

// Seed data styling
.form_section_header {
  font-size: 1.2em;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 25px;

  &:first-of-type {
    margin-top: 10px;
  }
}

.form_subsection_header {
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 10px;

  &:first-of-type {
    margin-top: 0px;
  }
}
